.wrapper {
    height: auto;
    margin: 0 auto;
    width: 1000px;
}
.main-tabs {
    float: left;
    height: auto;
    width: 100%;
}
#fragment_holder {
    float: none;
    height: auto;
    margin: 0 auto;
    width: 840px;
}