body {
    padding-top:45px;
}

body {
    background-color: #FFFFFF;
    color: #333333;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}

.pager-block .pagination{
    margin: 0;
}

.button-block .btn {
    margin-left:5px;
}

.subhead {
    /*background: -moz-linear-gradient(center top , #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    background: #F3F3F3;
    border-bottom: 1px solid #D3D3D3;
    color: #0C192E;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.subhead-collapse.collapse {
    height: auto;
    overflow: visible;
}

.header {
    background-color: #72A4B9;
    /*background-color: #F5F5F5;*/
    /*background-color: #184A7D;*/
    /*background-image: linear-gradient(to bottom, #17568C, #1A3867);*/
    background-repeat: repeat-x;
    /*border-top: 1px solid rgba(255, 255, 255, 0.2);*/
    border-bottom: 1px solid #E5E5E5;
    padding: 5px;
    margin: 0;
}

.page-title {
    /*color: #393939;*/
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);*/
}

hr.hr-condensed {
    margin: 10px 0;
}

.page-header {
    margin: 2px 0 10px;
    padding-bottom: 5px;
}

body .navbar,
body .navbar-fixed-top {
    margin-bottom: 0;
}

.subhead-fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 100;
}

.grid-view .table .button-column {
    /*min-width: 50px;*/
    text-align: left;
}

#error_wrapper {
    text-align: center;
}


.editable-clear-x:before {
    margin-left:-5px;
}

.chzn-container, .chzn-drop {
    max-width: 100% !important;
}

.btn-group + .btn-group {
    margin-left: 5px;
}

@media (max-width: 767px) {
    .header {
        margin-left: -20px;
        margin-right: -20px;
    }

    html {
        height: 100%;
    }
    body {
        height: 100%;
    }

    .subhead {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-title {
        text-align: center;
    }
    /*.navbar-search.pull-right {*/
        /*float: none;*/
        /*text-align: center;*/
    /*}*/
    .subhead-fixed {
        position: static;
        width: auto;
    }
    .container-fluid {
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid-view .table .checkbox-column {
        width: auto;
    }
}

@media (max-width: 738px) {
    body {
        padding-top: 0;
    }
}

/*ACE*/
input[type="checkbox"] + .lbl, input[type="radio"] + .lbl {
    z-index: 0;
}